body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  padding: 20px;
}

/* Caixa do formulário */
.container {
  width: 300px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 30px;
}

/* Centralizar somente o título */
.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Formulário organizado e alinhado */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Inputs */
input, select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Botão */
button {
  width: 100%;
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

/* Menu (se for usado em outra página) */
#menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 250px;
  margin: 20px auto;
}

.btn-menu {
  display: block;
  width: 200px;
  background: #0A4FFF;
  color: white;
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
  margin: 0 auto;
}

.btn-menu:hover {
  background: #0738b3;
}


button:hover {
  background: #2980b9;
}

nav {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 250px;
  margin: 20px auto;
}

.btn-menu {
  display: block;
  width: 200px;
  background: #0A4FFF;
  color: white;
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
  margin: 0 auto;
}

.btn-menu:hover {
  background: #0738b3;
}
